<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/img/Logo.svg" alt="MediqWise Regulatory & Quality" style="max-height: 48px;">
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
        onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="{{ site.baseurl }}/" class="navbar-item">Home</a>

        {% if site.data.navigation %}
          {% for item in site.data.navigation %}
            {% if item.dropdown %}
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  {{ item.name }}
                </a>

                <div class="navbar-dropdown">
                  {% for subitem in item.dropdown %}
                    <a href="{{ site.baseurl }}{{ subitem.link }}" class="navbar-item">
                      {{ subitem.name }}
                    </a>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <a href="{{ site.baseurl }}{{ item.link }}" class="navbar-item">
                {{ item.name }}
              </a>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</nav>
